{{ $passwd := .Params.passwd | default "" }}

<div class="toast-container position-fixed start-50 translate-middle-x" style="top: 1.5em;">
    <div id="password_error_toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
        <div class="toast-header">
            <strong class="me-auto">密码错误!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" >您无权查看该文章。</div>
    </div>
</div>

<div id="post_of_content" class="post-content mb-3" data-bs-spy="scroll" data-bs-target="#TableOfContents" tabindex="0">
    {{- if and .Summary (default false $.Site.Params.post.readMoreFromContent) (hasPrefix .Content .Summary) }}
    <div id="post-summary">{{ .Summary }}</div>
    <div id="post-content-body">
        {{- if ne $passwd "" -}}
        <div class="secret_content">
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">友情提示</h4>
                <p>该文章属于私密文章；请联系作者获取密码。</p>
            </div>
            <form id="validationForm" class="row g-3 needs-validation" novalidate>
                <div class="col-12">
                    <input type="password" class="form-control" id="validationPassword" required placeholder="请输入密码">
                    <div class="invalid-feedback">密码不能为空</div>
                </div>
                <div class="col-12" style="text-align: right;">
                    <button class="btn btn-primary" type="submit">确定</button>
                </div>
            </form>
        </div>
        <script>
            {{- $safeContent := strings.TrimPrefix .Summary .Content | safeHTML | string -}}
            const ciphertext = '{{- aes_enc $safeContent .Params.passwd $.Site.Params.secretIv -}}'

            $(function() {
                const toast = new bootstrap.Toast(document.getElementById('password_error_toast'))

                document.addEventListener('show_content', function(e) {
                    const originalText = decrypt(ciphertext, e.detail)
                    if (originalText == null) {
                        toast.show()
                    } else {
                        $('#post-content-body').append(originalText)
                        $('.secret_content').hide()
                        new bootstrap.ScrollSpy(document.getElementById('post_of_content'), { target: '#TableOfContents' })
                    }
                });

                $("#validationForm").submit(function(e) {
                    const form = e.target
                    if (form.checkValidity()) {
                        let secretKey = $('#validationPassword')[0].value;
                        if (secretKey.length > 32) {
                            secretKey = secretKey.substring(0, 32)
                        } else if(secretKey.length < 32) {
                            secretKey = secretKey.padEnd(32, '0')
                        }
                        const event = new CustomEvent('show_content', { detail: secretKey });
                        document.dispatchEvent(event);
                    }
                    e.preventDefault()
                    e.stopPropagation()
                });
            });
        </script>
        {{- else -}}
        {{- strings.TrimPrefix .Summary .Content | safeHTML -}}
        {{- end -}}
    </div>
    {{- else }}
    <div id="post-content-body">
        {{- if ne $passwd "" -}}
        <div class="secret_content">
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">友情提示</h4>
                <p>该文章属于私密文章；请联系作者获取密码。</p>
            </div>
            <form id="validationForm" class="row g-3 needs-validation" novalidate>
                <div class="col-12">
                    <input type="password" class="form-control" id="validationPassword" required placeholder="请输入密码">
                    <div class="invalid-feedback">密码不能为空</div>
                </div>
                <div class="col-12" style="text-align: right;">
                    <button class="btn btn-primary" type="submit">确定</button>
                </div>
            </form>
        </div>
        <script>
            {{- $unsafeContent := .Content | string -}}
            const ciphertext = '{{- aes_enc $unsafeContent .Params.passwd $.Site.Params.secretIv -}}'

            $(function() {
                const toast = new bootstrap.Toast(document.getElementById('password_error_toast'))

                document.addEventListener('show_content', function(e) {
                    const originalText = decrypt(ciphertext, e.detail)
                    if (originalText == null) {
                        toast.show()
                    } else {
                        $('#post-content-body').append(originalText)
                        $('.secret_content').hide()
                        new bootstrap.ScrollSpy(document.getElementById('post_of_content'), { target: '#TableOfContents' })
                    }
                });

                $("#validationForm").submit(function(e) {
                    const form = e.target
                    if (form.checkValidity()) {
                        let secretKey = $('#validationPassword')[0].value;
                        if (secretKey.length > 32) {
                            secretKey = secretKey.substring(0, 32)
                        } else if(secretKey.length < 32) {
                            secretKey = secretKey.padEnd(32, '0')
                        }
                        const event = new CustomEvent('show_content', { detail: secretKey });
                        document.dispatchEvent(event);
                    }
                    e.preventDefault()
                    e.stopPropagation()
                });
            });
        </script>
        {{- else -}}
        {{ .Content }}
        {{- end -}}
    </div>
    {{- end }}
</div>
