{{- $isPrivate := .Params.isPrivate -}}
{{- if ne $isPrivate true -}}
    {{- $isPrivate = false -}}
{{- end -}}

<div class="post-content mb-3" data-bs-spy="scroll" data-bs-target="#TableOfContents" tabindex="0">
    {{- if and .Summary (default false $.Site.Params.post.readMoreFromContent) (hasPrefix .Content .Summary) }}
        <div id="post-summary">{{ .Summary }}</div>
        <div id="post-content-body">
            {{- if $isPrivate -}}
                <script>
                    {{- $safeContent := strings.TrimPrefix .Summary .Content | safeHTML | string -}}
                    var ciphertext = '{{- aes_enc $safeContent $.Site.Params.secretKey $.Site.Params.secretIv -}}'
                    var originalText = decrypt(ciphertext)
                </script>
            {{- else -}}
                {{- strings.TrimPrefix .Summary .Content | safeHTML -}}
            {{- end -}}
        </div>
    {{- else }}
        <div id="post-content-body">
            {{- if $isPrivate -}}
                <script>
                    {{- $unsafeContent := .Content | string -}}
                    var ciphertext = '{{- aes_enc $unsafeContent $.Site.Params.secretKey $.Site.Params.secretIv -}}'
                    var originalText = decrypt(ciphertext)
                </script>
            {{- else -}}
                {{ .Content }}
            {{- end -}}
        </div>
    {{- end }}
</div>
